node_modules/
dist/
.env
.DS_Store
*.log
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/RichBreadCrumbs.tsx.html
coverage/lcov-report/RichDataset.tsx.html
coverage/lcov-report/RichEvent.tsx.html
coverage/lcov-report/RichFaqs.tsx.html
coverage/lcov-report/RichOrganization.tsx.html
coverage/lcov-report/RichPhotos.tsx.html
coverage/lcov-report/RichProduct.tsx.html
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
.idea/.gitignore
.idea/easycode.ignore
.idea/misc.xml
.idea/modules.xml
.idea/react-schema-markup.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
coverage/lcov-report/JsonLd.tsx.html
coverage/lcov-report/RichArticle.tsx.html
coverage/lcov-report/RichClaimReview.tsx.html
coverage/lcov-report/RichCourse.tsx.html
coverage/lcov-report/RichDiscussionForumPosting.tsx.html
coverage/lcov-report/RichJobPosting.tsx.html
coverage/lcov-report/RichLearningResource.tsx.html
coverage/lcov-report/RichLocalBusiness.tsx.html
coverage/lcov-report/RichMovie.tsx.html
coverage/lcov-report/RichProfilePage.tsx.html
coverage/lcov-report/RichRecipe.tsx.html
coverage/lcov-report/RichReview.tsx.html
coverage/lcov-report/RichSoftwareApplication.tsx.html
coverage/lcov-report/RichSpeakable.tsx.html
coverage/lcov-report/RichVehicle.tsx.html
coverage/lcov-report/RichVideo.tsx.html
coverage/lcov-report/RichWebSite.tsx.html
